/*전체 적용*/
*{
    margin : 0px;
    padding: 0px;
}
/*레이아웃*/
nav{
    background-color: brown;
    display: flex;                    /*옆으로배열*/
    justify-content:space-between;
    color: white;
    height: 40px;
}
nav>ul{
    display: flex;
    list-style: none;
}
header{
    background-color: chocolate;
    display: flex;
    justify-content: center;
    
}
main{
    background-color: crimson;
    display: flex;
    justify-content: center;
    margin: 0px;
}
footer{
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
}
footer>li{
    list-style: none;
    font-size: 5px;
}
